
body {
  font-family: Arial;
  font-size: 13px;
  color: #424242;
}

.wrapper {
  margin: 200px auto 0;
  width: 420px;
  text-align: center;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 14px;
  font-weight: normal;
  color: #9E9E9E;
}

button {
  height: 40px;
  border: 0;
  outline: 0;
  margin: 24px auto;
  width: 100px;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  font-size: 15px;
}
button:hover {
  cursor: pointer;
}

.btn-draw {
  color: #f5f5f5;
  background-color: #ef003b;
}
.btn-reset {
  color: #f5f5f5;
  background-color: #00a0d6;
}
button.close {
  background-color: #BDBDBD;
  cursor: default;
}

#resultBox {
  height: 44px;
  margin: 12px auto;
}

#resultBox div,
#ballsBox div {
  border-radius: 50%;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 6px 6px;
  text-align: center;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

@keyframes ani-draw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#resultBox div {
  background-color: #E53935;
  color: #ECEFF1;
  opacity: 1;
  animation: ani-draw 0.5s linear;
}

#ballsBox div {
  background-color: #ECEFF1;
}

#resultBox div:first-of-type,
#resultBox div:nth-of-type(10n+1),
#ballsBox div:first-of-type,
#ballsBox div:nth-of-type(10n+1) {
  margin-left: 0;
}

#ballsBox div.is-chose {
  color: #BDBDBD;
}
#ballsBox div:hover {
  cursor: pointer;
  background-color: #9E9E9E;
}
